<form action="/login" method="post" id="login_form">
    <fieldset>
        <label for="client">ClientID</label>
        <input class="text-input" id="client" name="client" type="text" value="">
    </fieldset>

    <fieldset>
        <label for="hash">Hash</label>
        <input class="text-input" id="hash" name="hash" type="text" value="">
    </fieldset>

    <fieldset>
        <span class="errormessage"></span>
    </fieldset>

    <div id="form_btn">
        <input id="signin-btn" class="btn btn-blue" type="submit" value="Sign In" tabindex="3">
    </div>
</form>